h1,h2,h3,h4,h5,p,ul,td { 
    font-family: Arial, Helvetica, sans-serif; 
    text-decoration: none;
    color : rgb(255, 255, 255); 
}

body{
    font-family: Arial,Helvetica,sans-serif;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color: #000000;
}

B{ 
    font-weight: bold;
}

STRONG{
    font-weight: bold;
}

p{
    padding-left: 0.25em;
    margin-left:2.5%;
}

H1 {
    font-size: 150%;
    font-weight: bold;
    padding:0.0;
}

H2 {
    font-size: 125%;
    font-weight: bold;
    border:none; 
    padding: 0.25em;
    margin-left: 1.25%;
    margin-right: 0%; 
}

H3 {
    font-size: 100%;
    font-weight: bold;
    border:none; 
    padding: 0.25em;
    margin-left: 2.5%;
    margin-right: 0%;
}

H4 {
    font-size: 100%;
    padding: 0.25em;
    margin-left: 2.5%;
    margin-right: 0%;
}

UL{
    margin-left:2%;
    margin-right: 10%;
}

OL{
    margin-left:2%;
    margin-right: 10%;
}

.header {
    padding : 60px;
    text-align: center;
    background: #000000;
    color :#ffffff;
    font-size:30px;
}

.tablink{
    background-color: #808080;
    color : white;
    float : left;
    border : none;
    outline : none;
    cursor : pointer;
    padding : 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #747474;
}

.tabcontent {
    color: white;
    display : none;
    padding: 40px;
    text-align: center;
}
#Menu{background-color: purple;}
#Informacio{background-color: blue;}
#Fotos{background-color: steelblue;}
#Casting{background-color: green;}

.footer {
    position: fixed;
    left: 0;
    bottom:0;
    width:100%;
    background-color: darkblue;
    color: white;
    text-align: center;
}

.middle {
    padding : 50px;
    left:50%;
    text-align: center;
}

hr {
    margin:auto;
    width: 40%;
}